<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Authentication complete</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    </head>

    <body>
        <section class="section">
            <div class="container">
                <article class="message is-dark">
                    <div class="message-header">
                        <p>Sync complete</p>
                    </div>
                    <div class="message-body">
                        <p>
                            You are now ready to browse activities.
                        </p>
                    </div>
                </article>
            </div>
        </section>
    </body>
</html>
